@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

:root {
    --color01: #F8F9FA;
    --color02: #E9ECEF;
    --color03: #DEE2E6;
    --color04: #CED4DA;
    --color05: #ADB5BD;
    --color06: #6C757D;
    --color07: #495057;
    --color08: #343A40;
    --color09: #212529;
    --shadow: rgba(0, 0, 0, 0.17) 0px 1px 4px;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
main {
    display: grid;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height: 120px;
    margin: 0 auto;
}

.scoreboard > .play1, .scoreboard > .play2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr;
}
#game {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* game */
}
.square {
    display: grid;
    /* width: 200px;
    height: 200px; */
    border: 1px solid black;
    align-items: center;
    text-align: center;
    font-size: 120px;
}
.menu {
    width: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.square:hover {
    background-color: var(--color03);
}
.bold {
    font-weight: 700;
    transform: scale(1.2);
}